<div class="d-flex w-100 h-100 flex-column justify-content-between">
  <!-- <div class="d-flex" style="color: wheat; font-size: 30px;">test</div> -->
  
  <div class="stats">
    staty
  </div>
  <div class="d-flex" style="overflow: auto;">
    <!-- <div style="background-color: red; height: 1000px; width: 10000px;"></div> -->
    <div>
      <app-tile *ngFor="let tile of tiles"
        style="position: absolute;"
        [style.left.px]="(tile.x * (width + margin)) + (tile.y % 2 * (width / 2))"
        [style.top.px]="(tile.y * (height * 0.75 + margin))"
        [color]="tile.color"
        [class]="tile.class"
        [display]="tile.display"
        [height]="height">
      </app-tile>
    </div>
  </div>
  
  <div #footer class="message">
    Test okna
  </div>
</div>