*{
  //overflow: hidden;
}
.grid {
  display: grid;
  align-items: center;
  justify-content: center;
}


.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
}

.main.content {
  overflow: hidden;
  position: relative;
  cursor: grab;
  flex: 1;
}

.main.content:active {
  cursor: grabbing;
}


.hud {
  width: 100%;
  padding: 20px;
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.3);
  background-size: 256px; 
  position: fixed;
  z-index: 100;
  bottom:0;

  &.stats{
    height: 30px;
    position: fixed;
    top:0
  }
}