.wrapper {
  position: relative;
  overflow-y: visible;

  & .hexagon {
    aspect-ratio: cos(30deg);
    clip-path: polygon(-50% 50%, 50% 100%, 150% 50%, 50% 0);

    display: flex;
    align-items: center;
    justify-content: center;
    transition-timing-function: ease-in-out;
    transition-duration: 0.1s;
    position: relative; /* ważne, żeby heksagon był w kontekście pozycjonowania */

    &:hover {
      cursor: pointer;
      transform: translateY(-10px);
      transition-duration: 0.1s;
      transition-timing-function: ease-in-out;
      background-color: brown;
      overflow: visible;
      z-index: 20;
    }

    /* kluczowe - gdy jest hover nad hexagonem, obrazek pod spodem się pokazuje */
    &:hover + .bg {
      opacity: 1;
      transform: translateY(-10px);
      transition-duration: 0.1s;
      transition-timing-function: ease-in-out;
    }
  }

  & .bg {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;      /* dopasuj do rozmiaru hexagona */
    height: 101%;     /* dopasuj do rozmiaru hexagona */
    z-index: 1;
    opacity: 0;       /* domyślnie niewidoczny */
    transform: translateY(-1px);
    transition: transform 0.1s ease-in-out;
    pointer-events: none; /* żeby obrazek nie blokował hover */
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
  }
}

.hexagon.selected::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 255, 0, 0.5); // żółta przezroczystość
  z-index: 2; // nad obrazkiem, pod tekstem
  pointer-events: none; // nie blokuje kliknięć
}

.hexagon.end-selected::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(255, 0, 0, 0.3); // żółta przezroczystość
  z-index: 2; // nad obrazkiem, pod tekstem
  pointer-events: none; // nie blokuje kliknięć
}

.hexagon.path::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.5); // żółta przezroczystość
  z-index: 2; // nad obrazkiem, pod tekstem
  pointer-events: none; // nie blokuje kliknięć
}



.bg-1.grass{
  background-image: url("./../../../assets/Tiles/Terrain/Grass/grass_05.png");
  background-size: contain;
}
.bg-2.grass {
  background-image: url("./../../../assets/Tiles/Terrain/Grass/grass_10.png");
  background-size: contain;
}
.bg-3.grass{
  background-image: url("./../../../assets/Tiles/Terrain/Grass/grass_11.png");
  background-size: contain;
}
.bg-4.grass{
  background-image: url("./../../../assets/Tiles/Terrain/Grass/grass_05.png");
  background-size: contain;
}
.bg-5.grass{
  background-image: url("./../../../assets/Tiles/Terrain/Grass/grass_17.png");
  background-size: contain;
}

.bg-1.sand{
  background-image: url("./../../../assets/Tiles/Terrain/Sand/sand_07.png");
  background-size: contain;
}
.bg-2.sand {
  background-image: url("./../../../assets/Tiles/Terrain/Sand/sand_12.png");
  background-size: contain;
}
.bg-3.sand{
  background-image: url("./../../../assets/Tiles/Terrain/Sand/sand_15.png");
  background-size: contain;
}
.bg-4.sand{
  background-image: url("./../../../assets/Tiles/Terrain/Sand/sand_17.png");
  background-size: contain;
}
.bg-5.sand{
  background-image: url("./../../../assets/Tiles/Terrain/Sand/sand_19.png");
  background-size: contain;
}

.bg-1.road{
  background-image: url("./../../../assets/Tiles/Terrain/Stone/stone_19.png");
  background-size: contain;
}
.bg-2.road{
  background-image: url("./../../../assets/Tiles/Terrain/Stone/stone_07.png");
  background-size: contain;
}
.bg-3.road{
  background-image: url("./../../../assets/Tiles/Terrain/Stone/stone_16.png");
  background-size: contain;
}
.bg-4.road{
  background-image: url("./../../../assets/Tiles/Terrain/Stone/stone_14.png");
  background-size: contain;
}
.bg-5.road{
  background-image: url("./../../../assets/Tiles/Terrain/Stone/stone_18.png");
  background-size: contain;
}

.water {
  /* dwa "pixelowe" wzory - przesunięte względem siebie dla mozaiki */
  background-image:
    linear-gradient(90deg,#2b9bd7 0 30%,#2f8fc9 30% 100%),
    linear-gradient(#2f8fc9 0 50%, #2b9bd7 50% 100%);
  background-size: contain; /* wielkość pikselowego kafelka */
  background-position: 0 0, 8px 8px;     /* przesunięcie warstw -> mozaika */
  image-rendering: pixelated;            /* zachowaj "blokowy" wygląd przy skalowaniu */
  animation: slide 6s linear infinite;
  //border: 2px solid #0b3b5b;
}

/* animujemy po osi X i Y, by dać efekt subtelnego ruchu */
@keyframes slide {
  from { background-position: 0 0, 8px 8px; }
  to   { background-position: -48px 12px, -16px -32px; }
}

.rock {
  background-size: 120%;
  background-position: center 0%;
}

.bg-1.rock{
  background-image: url("./../../../assets/Tiles/Terrain/Other/rockStone_moss1.png");
  background-size: 120%;
  background-position: center 0%;
}
.bg-2.rock,.bg-4.rock {
  background-image: url("./../../../assets/Tiles/Terrain/Other/rockStone.png");
  background-size: 120%;
  background-position: center 0%;
}
.bg-3.rock,.bg-5.rock{
  background-image: url("./../../../assets/Tiles/Terrain/Other/rockSnow_2.png");
  background-size: 120%;
  background-position: center 0%;
}


.tooltip-wrapper {
  position: relative;
  display: inline-block;

  .custom-tooltip {
    visibility: hidden;
    opacity: 0;
    width: max-content;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;

    position: absolute;
    z-index: 10;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);

    transition: opacity 0.2s;
  }

  &:hover .custom-tooltip {
    visibility: visible;
    opacity: 1;
    z-index: 999;
  }
}

.hexagon .tile-image[title="Stacja"]{
  //width: 100%;
  height: 100%;
}

.hexagon:hover .custom-tooltip{
  visibility: visible;
    opacity: 1;
    z-index: 999;
    position: relative;
    //margin-bottom: 50px;
}

